{
    "source": {
        "directories": ["src"]
    },
    "timeout": 3,
    "logs": {
        "text": "infection.txt"
    },
    "mutators": {
        "@default": true,
        "@function_signature": true,
        "CastInt": {
            "ignore": [
                "KaziRayhan\\JWT\\Signer\\Ecdsa\\MultibyteStringConverter::octetLength",
                "KaziRayhan\\JWT\\Signer\\Ecdsa\\MultibyteStringConverter::readAsn1Integer"
            ]
        },
        "UnwrapSubstr": {
            "ignore": [
                "KaziRayhan\\JWT\\Signer\\Ecdsa\\MultibyteStringConverter::preparePositiveInteger"
            ]
        },
        "GreaterThan": {
            "ignore": [
                "KaziRayhan\\JWT\\Signer\\Ecdsa\\MultibyteStringConverter::toAsn1",
                "KaziRayhan\\JWT\\Signer\\Ecdsa\\MultibyteStringConverter::preparePositiveInteger",
                "KaziRayhan\\JWT\\Signer\\Ecdsa\\MultibyteStringConverter::retrievePositiveInteger"
            ]
        },
        "LessThanOrEqualTo": {
            "ignore": [
                "KaziRayhan\\JWT\\Signer\\Ecdsa\\MultibyteStringConverter::preparePositiveInteger"
            ]
        },
        "LogicalNot": {
            "ignoreSourceCodeByRegex": [
                "if \\(!function_exists\\('sodium_\\w+'\\)\\) \\{"
            ]
        }
    },
    "minMsi": 100,
    "minCoveredMsi": 100
}
